.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: darkgrey 10px 10px 10px;
}

.heading_div
{
    float: none;
    background:cornsilk;
    padding: 10px;
    border-radius: 20px;
    color:navy;
    box-shadow: darkgrey 10px 10px 10px;
}

.heading_div2
{
    font-size: 18px;
}